<?php

declare(strict_types=1);

/*
 * This file is part of VyfonyPortationBundle project.
 *
 * (c) Anton Dyshkant <vyshkant@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

return [
    'files_list' => [
        '.phan.dist',
        '.php_cs.dist',
    ],
    'directory_list' => [
        'src',
        'tests',
        'vendor',
    ],
    'exclude_analysis_directory_list' => [
        'vendor/',
    ],
    'whitelist_issue_types' => [
        'PhanSyntaxError',
        'PhanAmbiguousTraitAliasSource',
        'PhanClassContainsAbstractMethodInternal',
        'PhanClassContainsAbstractMethod',
        'PhanEmptyFile',
        'PhanParentlessClass',
        'PhanRequiredTraitNotAdded',
        'PhanTraitParentReference',
        'PhanUndeclaredAliasedMethodOfTrait',
        'PhanUndeclaredClass',
        'PhanUndeclaredClassAliasOriginal',
        'PhanUndeclaredClassCatch',
        'PhanUndeclaredClassConstant',
        'PhanUndeclaredClassInstanceof',
        'PhanUndeclaredClassMethod',
        'PhanUndeclaredClassReference',
        'PhanUndeclaredClosureScope',
        'PhanUndeclaredConstant',
        'PhanUndeclaredExtendedClass',
        'PhanUndeclaredFunction',
        'PhanUndeclaredInterface',
        'PhanUndeclaredMethod',
        'PhanUndeclaredProperty',
        'PhanUndeclaredStaticMethod',
        'PhanUndeclaredStaticProperty',
        'PhanUndeclaredTrait',
        'PhanUndeclaredTypeParameter',
        'PhanUndeclaredTypeReturnType',
        'PhanUndeclaredTypeProperty',
        'PhanUndeclaredTypeThrowsType',
        'PhanUndeclaredVariable',
        'PhanUndeclaredVariableDim',
        'PhanUndeclaredClassInCallable',
        'PhanUndeclaredStaticMethodInCallable',
        'PhanUndeclaredFunctionInCallable',
        'PhanUndeclaredMethodInCallable',
        'PhanEmptyFQSENInCallable',
        'PhanEmptyFQSENInClasslike',
        'PhanNonClassMethodCall',
        'PhanTypeArrayOperator',
        'PhanTypeArraySuspicious',
        'PhanTypeArrayUnsetSuspicious',
        'PhanTypeArraySuspiciousNullable',
        'PhanTypeSuspiciousIndirectVariable',
        'PhanTypeComparisonFromArray',
        'PhanTypeComparisonToArray',
        'PhanTypeConversionFromArray',
        'PhanTypeInstantiateAbstract',
        'PhanTypeInstantiateInterface',
        'PhanTypeInvalidClosureScope',
        'PhanTypeInvalidLeftOperand',
        'PhanTypeInvalidRightOperand',
        'PhanTypeInvalidInstanceof',
        'PhanTypeInvalidDimOffset',
        'PhanTypeInvalidDimOffsetArrayDestructuring',
        'PhanTypeInvalidThrowsNonObject',
        'PhanTypeInvalidThrowsNonThrowable',
        'PhanTypeInvalidThrowsIsTrait',
        'PhanTypeInvalidThrowsIsInterface',
        'PhanTypeMagicVoidWithReturn',
        'PhanTypeMismatchArgument',
        'PhanTypeMismatchArgumentInternal',
        'PhanPartialTypeMismatchArgument',
        'PhanPartialTypeMismatchArgumentInternal',
        'PhanPossiblyNullTypeArgument',
        'PhanPossiblyNullTypeArgumentInternal',
        'PhanPossiblyFalseTypeArgument',
        'PhanPossiblyFalseTypeArgumentInternal',
        'PhanTypeMismatchDefault',
        'PhanTypeMismatchDimAssignment',
        'PhanTypeMismatchDimEmpty',
        'PhanTypeMismatchDimFetch',
        'PhanTypeMismatchDimFetchNullable',
        'PhanTypeMismatchUnpackKey',
        'PhanTypeMismatchUnpackValue',
        'PhanTypeMismatchArrayDestructuringKey',
        'PhanMismatchVariadicComment',
        'PhanMismatchVariadicParam',
        'PhanTypeMismatchForeach',
        'PhanTypeMismatchProperty',
        'PhanPossiblyNullTypeMismatchProperty',
        'PhanPossiblyFalseTypeMismatchProperty',
        'PhanPartialTypeMismatchProperty',
        'PhanTypeMismatchReturn',
        'PhanPartialTypeMismatchReturn',
        'PhanPossiblyNullTypeReturn',
        'PhanPossiblyFalseTypeReturn',
        'PhanTypeMismatchDeclaredReturn',
        'PhanTypeMismatchDeclaredReturnNullable',
        'PhanTypeMismatchDeclaredParam',
        'PhanTypeMismatchDeclaredParamNullable',
        'PhanTypeMissingReturn',
        'PhanTypeNonVarPassByRef',
        'PhanTypeParentConstructorCalled',
        'PhanTypeSuspiciousEcho',
        'PhanTypeSuspiciousStringExpression',
        'PhanTypeVoidAssignment',
        'PhanTypeInvalidCallableArraySize',
        'PhanTypeInvalidCallableArrayKey',
        'PhanTypeInvalidCallableObjectOfMethod',
        'PhanTypeExpectedObject',
        'PhanTypeExpectedObjectOrClassName',
        'PhanTypeExpectedObjectPropAccess',
        'PhanTypeExpectedObjectPropAccessButGotNull',
        'PhanTypeExpectedObjectStaticPropAccess',
        'PhanTypeMismatchGeneratorYieldValue',
        'PhanTypeMismatchGeneratorYieldKey',
        'PhanTypeInvalidYieldFrom',
        'PhanUnanalyzable',
        'PhanUnanalyzableInheritance',
        'PhanVariableUseClause',
        'PhanStaticCallToNonStatic',
        'PhanContextNotObject',
        'PhanContextNotObjectInCallable',
        'PhanDeprecatedClass',
        'PhanDeprecatedInterface',
        'PhanDeprecatedTrait',
        'PhanDeprecatedFunction',
        'PhanDeprecatedFunctionInternal',
        'PhanDeprecatedProperty',
        'PhanParamReqAfterOpt',
        'PhanParamSpecial1',
        'PhanParamSpecial2',
        'PhanParamSpecial3',
        'PhanParamSpecial4',
        'PhanParamSuspiciousOrder',
        'PhanParamTooFew',
        'PhanParamTooFewInternal',
        'PhanParamTooFewCallable',
        'PhanParamTooMany',
        'PhanParamTooManyInternal',
        'PhanParamTooManyCallable',
        'PhanParamTypeMismatch',
        'PhanParamSignatureMismatch',
        'PhanParamSignatureMismatchInternal',
        'PhanParamRedefined',
        'PhanParamSignatureRealMismatchReturnType',
        'PhanParamSignatureRealMismatchReturnTypeInternal',
        'PhanParamSignaturePHPDocMismatchReturnType',
        'PhanParamSignatureRealMismatchTooManyRequiredParameters',
        'PhanParamSignatureRealMismatchTooManyRequiredParametersInternal',
        'PhanParamSignaturePHPDocMismatchTooManyRequiredParameters',
        'PhanParamSignatureRealMismatchTooFewParameters',
        'PhanParamSignatureRealMismatchTooFewParametersInternal',
        'PhanParamSignaturePHPDocMismatchTooFewParameters',
        'PhanParamSignatureRealMismatchHasParamType',
        'PhanParamSignatureRealMismatchHasParamTypeInternal',
        'PhanParamSignaturePHPDocMismatchHasParamType',
        'PhanParamSignatureRealMismatchHasNoParamType',
        'PhanParamSignatureRealMismatchHasNoParamTypeInternal',
        'PhanParamSignaturePHPDocMismatchHasNoParamType',
        'PhanParamSignatureRealMismatchParamIsReference',
        'PhanParamSignatureRealMismatchParamIsReferenceInternal',
        'PhanParamSignaturePHPDocMismatchParamIsReference',
        'PhanParamSignatureRealMismatchParamIsNotReference',
        'PhanParamSignatureRealMismatchParamIsNotReferenceInternal',
        'PhanParamSignaturePHPDocMismatchParamIsNotReference',
        'PhanParamSignatureRealMismatchParamVariadic',
        'PhanParamSignatureRealMismatchParamVariadicInternal',
        'PhanParamSignaturePHPDocMismatchParamVariadic',
        'PhanParamSignatureRealMismatchParamNotVariadic',
        'PhanParamSignatureRealMismatchParamNotVariadicInternal',
        'PhanParamSignaturePHPDocMismatchParamNotVariadic',
        'PhanParamSignatureRealMismatchParamType',
        'PhanParamSignatureRealMismatchParamTypeInternal',
        'PhanParamSignaturePHPDocMismatchParamType',
        'PhanNoopArray',
        'PhanNoopClosure',
        'PhanNoopConstant',
        'PhanNoopProperty',
        'PhanNoopVariable',
        'PhanNoopUnaryOperator',
        'PhanNoopBinaryOperator',
        'PhanNoopStringLiteral',
        'PhanNoopEncapsulatedStringLiteral',
        'PhanNoopNumericLiteral',
        'PhanUnreachableCatch',
        'PhanUnreferencedClass',
        'PhanUnreferencedFunction',
        'PhanUnreferencedPublicMethod',
        'PhanUnreferencedProtectedMethod',
        'PhanUnreferencedPrivateMethod',
        'PhanUnreferencedPublicProperty',
        'PhanUnreferencedProtectedProperty',
        'PhanUnreferencedPrivateProperty',
        'PhanReadOnlyPublicProperty',
        'PhanReadOnlyProtectedProperty',
        'PhanReadOnlyPrivateProperty',
        'PhanWriteOnlyPublicProperty',
        'PhanWriteOnlyProtectedProperty',
        'PhanWriteOnlyPrivateProperty',
        'PhanUnreferencedConstant',
        'PhanUnreferencedPublicClassConstant',
        'PhanUnreferencedProtectedClassConstant',
        'PhanUnreferencedPrivateClassConstant',
        'PhanUnreferencedClosure',
        'PhanUnreferencedUseNormal',
        'PhanUnreferencedUseFunction',
        'PhanUnreferencedUseConstant',
        'PhanRedefineClass',
        'PhanRedefineClassAlias',
        'PhanRedefineClassInternal',
        'PhanRedefineFunction',
        'PhanRedefineFunctionInternal',
        'PhanIncompatibleCompositionProp',
        'PhanIncompatibleCompositionMethod',
        'PhanAccessPropertyPrivate',
        'PhanAccessPropertyProtected',
        'PhanAccessMethodPrivate',
        'PhanAccessMethodPrivateWithCallMagicMethod',
        'PhanAccessMethodProtected',
        'PhanAccessMethodProtectedWithCallMagicMethod',
        'PhanAccessSignatureMismatch',
        'PhanAccessSignatureMismatchInternal',
        'PhanAccessStaticToNonStatic',
        'PhanAccessNonStaticToStatic',
        'PhanAccessClassConstantPrivate',
        'PhanAccessClassConstantProtected',
        'PhanAccessPropertyStaticAsNonStatic',
        'PhanAccessPropertyNonStaticAsStatic',
        'PhanAccessOwnConstructor',
        'PhanAccessConstantInternal',
        'PhanAccessClassInternal',
        'PhanAccessClassConstantInternal',
        'PhanAccessPropertyInternal',
        'PhanAccessMethodInternal',
        'PhanAccessWrongInheritanceCategory',
        'PhanAccessWrongInheritanceCategoryInternal',
        'PhanAccessExtendsFinalClass',
        'PhanAccessExtendsFinalClassInternal',
        'PhanAccessOverridesFinalMethod',
        'PhanAccessOverridesFinalMethodInternal',
        'PhanAccessOverridesFinalMethodPHPDoc',
        'PhanCompatibleExpressionPHP7',
        'PhanCompatiblePHP7',
        'PhanCompatibleNullableTypePHP70',
        'PhanCompatibleShortArrayAssignPHP70',
        'PhanCompatibleKeyedArrayAssignPHP70',
        'PhanCompatibleVoidTypePHP70',
        'PhanCompatibleIterableTypePHP70',
        'PhanCompatibleNullableTypePHP71',
        'PhanTemplateTypeConstant',
        'PhanTemplateTypeStaticMethod',
        'PhanTemplateTypeStaticProperty',
        'PhanGenericGlobalVariable',
        'PhanGenericConstructorTypes',
        'PhanInvalidCommentForDeclarationType',
        'PhanMisspelledAnnotation',
        'PhanUnextractableAnnotation',
        'PhanUnextractableAnnotationPart',
        'PhanUnextractableAnnotationSuffix',
        'PhanUnextractableAnnotationElementName',
        'PhanCommentParamWithoutRealParam',
        'PhanCommentParamOnEmptyParamList',
        'PhanCommentOverrideOnNonOverrideMethod',
        'PhanCommentOverrideOnNonOverrideConstant',
        'PhanCommentParamOutOfOrder',
    ],
];
